repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
        files: ^eodh_qgis/

      - id: black
        name: black
        entry: poetry run black --preview
        language: system
        types: [python]
        files: ^eodh_qgis/

      - id: flake8
        name: flake8
        entry: poetry run flake8
        language: system
        types: [python]
        files: ^eodh_qgis/
