services:
  qgis:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./dist/eodh_qgis:/tests_directory
    environment:
      CI: "true"
      DISPLAY: ":99"
    working_dir: /tests_directory
    entrypoint: /entrypoint.sh
    command: tail -f /dev/null
    tty: true
