name: QGIS Plugin Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  code-quality:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      
      - uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: make install

      - name: Code quality
        run: make check

  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7

      - name: Setup environment
        run: |
          uv pip install --system pyqt5

      - name: Start container
        run: |
          .docker/start.sh
          sleep 10

      - name: Run Tests
        run: |
          .docker/exec.sh

      - name: Retrieve coverage report
        run: |
          docker compose cp qgis:/tests_directory/coverage.xml ./

      - name: Codecov Upload
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
